<!DOCTYPE html>
<html>
    <head>
        <title>Payment Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/payment.css" />

    </head>
    <body>
        <div class="tooltip">
            <span class="tooltiptext">$167 still needed for this project</span>
        </div>
        <div class="progress" style="max-width: 400px;margin:40px auto;">
            <div class="progress-bar" style="width: 85%;"></div>
        </div>
        <div class="payment-info">
            <div class="content">
                <div class="main-content">
                    <p><span class="orange">Only 3 days left</span> to fund this project</p>
                </div>
                <div class="sub-content">
                    <p>Join the 42 other doners who have already supported this project.Every doller helps</p>
                </div>
            </div>

            <div class="container">
                <div class="payment-class">
                    <span class="currency">$</span><input type="text" name="currency" class="currencyinput" value="50">
                </div>
                <div class="button-class">
                    <button type="submit" class="button btn-info"> Give Now </button>
                </div>
                <a href="#">why give &#36;50 ?</a>
            </div>
        </div>
        
        <div class="buttons">
            <button class="btn btn-success" type="submit">Save for later</buttons>
            <button class="btn btn-success" type="submit">Tell your friends</buttons>
        </div>
    </body>
    
</html>
